{% extends "base.html"%}

{% load static %}

{% block body_content %}
<br>

<div  style="margin: 5%;">

<br>
    <h4 class="text-center alert alert-info">Show User Informations</h4>


    <br>
    <table class="table"  id="example">
       
        <thead style="margin: 5%;">
          <tr>
            <th scope="col">SN</th>
            <th scope="col">first_name</th>
            <th scope="col">last_name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">DOB</th>
            <th scope="col">Gender</th>
            <th scope="col">Address</th>
            <th scope="col">create_at</th>
            <th scope="col">updated_at</th>
            <th scope="col">Actions</th>

            

          </tr>
        </thead>
    
        <tbody style="margin: 5%;">
            {% for enquiry in enquires %}
          <tr>
            <td>{{forloop.counter}}</td>

            <td>{{enquiry.first_name}}</td>
            <td>{{enquiry.last_name}}</td>
            <td>{{enquiry.email}}</td>
            <td>{{enquiry.phone}}</td>
            <td>{{enquiry.dob}}</td>
            <td>{{enquiry.gender}}</td>
            <td>{{enquiry.address}}</td>
            <td>{{enquiry.create_at}}</td>
            <td>{{enquiry.updated_at}}</td>



            <td><a href="{% url 'update-user' enquiry.id %}"><i class="fa-solid fa-pen-to-square"></i></a> &nbsp;
                <a href="{% url 'delete-user' enquiry.id %}"><i class="fa-solid fa-trash " style="color: red;"></i></a>
            </td>
          </tr>
          {% endfor %}
        
        </tbody>
      </table>
 
    </div>

{% endblock %}

