{% load static %}
<div class="header1">
    <nav>
        <a href="/" style="text-decoration: none;"> <h5 style="color: aliceblue; ">Music</h5></a>
      
        <ul class="nav-linkss">

            <li><a href="/">User</a></li>
            <li><a href="{% url 'artist-list' %}">Artist</a></li>


            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="btn1">Logout</a>


            {% else %}
            <a href="{% url 'login'%}" class="btn1">Log In</a>

            {% endif %}

        </ul>

    </nav>
</div>